{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<style>
    .dash-right-content {
        background-color: #003e27;
        width: 95%;
        height: 22vh;
        border-radius: 0.4rem;
    }
    .dash-right-content i {
    padding-top: 30%;
    font-size: 3.5rem;
    }
    .dash-right-content img{
        width: 3.5rem;
    }
    .dash-right-content .tile-text {
    color: white;
    padding-top: 10%;
    padding-left: 4rem;
    font-weight: 700;
    font-size: 1.65rem;
    }
    .card-deck .card{
      width: 33%;
      background-color: #003e27;
      margin: 1rem;
      height: 25rem;
    }
    .card-title{
      color: white;
      text-transform: uppercase;
      font-weight: 600;
    }
    .divider1{
      background:#39ffb6;
    }
    @media (max-width:768px) {
      .card-deck .card{
        width: 100%;
        background-color: #003e27;
        margin: 0.8rem;
        height: 17rem;
      }
    }
</style>

<div class="my-2 px-2 py-3 row">
    <div class="col-md-4 mb-1">
      <div class="dash-right-content">
          <div class="row">
            <div class="col-7 tile-text">
              <div class="row">SALES</div>
              <div class="row">{{orders|length}}</div>
            </div>
            <div class="col-5">
              <span
                ><i class="fa-solid fa-shopping-bag text-info"></i
              ></span>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4 mb-1">
      <div class="dash-right-content">
        <div class="row">
          <div class="col-7 tile-text">
            <div class="row">STOCK</div>
            <div class="row">{{products|length}}</div>
          </div>
          <div class="col-5">
            <span
              ><i class='bx bxs-category text-secondary'></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="dash-right-content">
          <div class="row">
            <div class="col-7 tile-text">
              <div class="row">PURCHASE</div>
              <div class="row">{{vendors|length}}</div>
            </div>
            <div class="col-5">
              <span
                ><i class='bx bx-store text-primary'></i></span>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="card-deck d-flex flex-column flex-lg-row flex-md-row my-2 px-2 py-3 ">
  <div class="card radius-15 ms-md-0">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">SALES: &#8377 {{ exp }} </h4>
        </div>
        <hr class="divider1"/>
            <div id="chart1"></div>

    </div>
 </div>


  <div class="card radius-15">
      <div class="card-body">
          <div class="card-title">
              <h4 class="mb-0">INCOME: &#8377 {{ exp }} </h4>
          </div>
          <hr class="divider1" />
              <div id="chart2"></div>

      </div>
  </div>

  <div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">EXPENSES: &#8377 {{ exp }} </h4>
        </div>
        <hr class="divider1"/>
            <div id="chart3"></div>

    </div>
  </div>
</div>

{% endblock %}